@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("./bootstrap.min.css");
@import url("./select2.css");

@import url("./auth.css");
@import url("./admin.css");

html,
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a:not(.btn):not([class*="text-"]) {
    /* Don't mess with button colours or explicitly set text colours */
    color: inherit !important;
}